{
    "root": true,
    "extends": ["airbnb-base", "prettier"],
    "plugins": ["prettier"],
    "env": {
      "node": true,
      "es6": true,
      "jest": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": false
    },
    "rules": {
      "one-var": 0,
      "one-var-declaration-per-line": 0,
      "new-cap": 0,
      "consistent-return": 0,
      "no-param-reassign": 0,
      "comma-dangle": 0,
      "curly": ["error", "multi-line"],
      "import/no-unresolved": [2, { "commonjs": true }],
      "no-shadow": ["error", { "allow": ["req", "res", "err"] }],
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "valid-jsdoc": [
        "error",
        {
          "requireReturn": true,
          "requireReturnType": true,
          "requireParamDescription": false,
          "requireReturnDescription": true
        }
      ],
      "require-jsdoc": [
        "error",
        {
          "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": true,
            "ClassDeclaration": true
          }
        }
      ],
      "prettier/prettier": [
        "error",
        {
          "trailingComma": "es5",
          "tabWidth": 2,
          "semi": true,
          "singleQuote": true,
          "endOfLine": "lf"
        }
      ]
    }
  }
  